---
import SocialMediaList from "@components/SocialMedia/SocialMediaList.astro";
import type { StudentGroup } from "@data/studentsGroups.data";
import { SocialMediaEnum } from "@data/studentsGroups.data";
import { Image } from "astro:assets";

interface Props {
  group: StudentGroup;
}

const { group } = Astro.props;
---

<div class="col-lg-4 col-md-6">
  <div class="single-news-card">
    <div style="text-align: center;" class="news-img">
      <a href={group.path}
        ><Image
          src={group.logo}
          alt={group.title}
          width={250}
          height={250}
        /></a
      >
    </div>
    <div class="news-content">
      <div class="list">
        <a href="blog-details.html"
          ><h3 style="text-align: center;">{group.title}</h3></a
        >
        <p style="text-align: center;">{group.description}</p>
      </div>
    </div>
    <SocialMediaList
      facebook={group.socialMedia?.[SocialMediaEnum.FACEBOOK]?.link}
      twitter={group.socialMedia?.[SocialMediaEnum.TWITTER]?.link}
      instagram={group.socialMedia?.[SocialMediaEnum.INSTAGRAM]?.link}
      linkedin={group.socialMedia?.[SocialMediaEnum.LINKEDIN]?.link}
    />
  </div>
</div>
