---
import Layout from "@layouts/Layout.astro";

import Banner from "@components/Banner/Banner.astro";
import SwitchCampus from "@components/Buttons/SwitchCampus/SwitchCampus.astro";
import SwitchCareer from "@components/Buttons/SwitchCareer/SwitchCareer";
import EventSection from "@components/Sections/EventSection/EventSection";
import { Routes } from "@data/_centralized/routes.data";

import { API_URL } from "astro:env/client";
import { CampusEnum } from "@data/_types/types";
import CampusInfo from "@components/CampusInfo/CampusInfo.astro";
---

<Layout title="Inicio | Vida Universitaria">
  <Banner
    title="Calendario de Actividades - Campus Santo Domingo"
    path="Calendario de Actividades - CSD"
    origin="Grupos Estudiantiles"
    originLink={Routes.GRUPOS_ESTUDIANTILES}
  />

  <section class="educationist-area body-color pb-70">
    <div class="d-flex flex-column flex-lg-row justify-content-between">
      <SwitchCampus
        CSTICampusPath={Routes.GRUPOS_ESTUDIANTILES_CALENDARIO_ACTIVIDADES_CSTI}
        CSDCampusPath={Routes.GRUPOS_ESTUDIANTILES_CALENDARIO_ACTIVIDADES_CSD}
        inactiveCampus={CampusEnum.CSTI}
      />
      <SwitchCareer client:only />
    </div>

    <EventSection campus={CampusEnum.CSD} apiUrl={API_URL} client:only />
  </section>
</Layout>
