---
import { Image } from 'astro:assets';
import { footerData } from '@data/_static/navigation/footer.data';
---

<div class="footer-area pt-90 pb-60">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="footer-logo-area">
          <a href="/">
            <Image
              src="/assets/images/logo.webp"
              class="main-logo"
              alt="logo"
              width={200}
              height={50}
            />
          </a>
          <p>{footerData.logoSection.description}</p>
          <div class="contact-list">
            <ul>
              <li>
                <a href={`tel:${footerData.logoSection.contact.phone}`}>
                  {footerData.logoSection.contact.phone}
                </a>
              </li>
              <li>
                <a href=`mailto:${footerData.logoSection.contact.email}`>
                  <span
                    class="__cf_email__"
                    data-cfemail="85e4e1e8ecebc5f6e4ebf0abe0e1f0"
                  >
                    {footerData.logoSection.contact.email}
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      {
        footerData.columns.map((column, index) => (
          <div
            class={`col-sm-6 ${index === footerData.columns.length - 1 ? "col-lg-2" : "col-lg-3"}`}
          >
            <div class="footer-widjet">
              <h3>{column.title}</h3>
              <div class="list">
                <ul>
                  {column.links.map((link) => (
                    <li>
                      <a href={link.url}>{link.text}</a>
                    </li>
                  ))}
                </ul>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</div>
