---
export const prerender = false;

import { Image } from 'astro:assets';

import Layout from '@layouts/Layout.astro';

import AsideNav from '@components/AsideNav/AsideNav.astro';
import Banner from '@components/Banner/Banner.astro';
import SocialMediaList from '@components/SocialMedia/SocialMediaList';

import { API_URL } from 'astro:env/client';
import {
	StudentGroupsEnumCSTI,
	studentsGroupsDataCSTI,
} from '@data/_centralized/groups/studentsGroups.data';
import { SocialMediaEnum } from '@data/_centralized/groups/studentsGroups.data';
import { StudentsGroupsImages } from '@data/_centralized/images.data';
import { Routes } from '@data/_centralized/routes.data';
import { getPostById } from '@data/_fetch/posts.fetch';
import type { Post } from '@data/_types/types';

const { id } = Astro.params;

const ACTIVITY_NOT_FOUND = 'Actividad no encontrada';

const [post, error] = await getPostById({
	apiUrl: API_URL,
	postId: id as string,
});
if (error) {
	console.error(error);
}
---

<Layout title={post?.title.rendered ?? ACTIVITY_NOT_FOUND}>
  <Banner
    title={post?.title.rendered ?? ACTIVITY_NOT_FOUND}
    path={post?.title.rendered ?? ACTIVITY_NOT_FOUND}
    origin="Grupos Estudiantiles / Asociaciones, Clubes y Comités"
    originLink={Routes.GRUPOS_ESTUDIANTILES_ASOC_CLUB_COM_CSTI}
  />

  <div class="news-details-area pt-5 pb-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="news-details">
            <div class="news-simple-card">
              <div class="text-center">
                <h2 set:html={post?.title.rendered} />
                <p set:html={post?.content.rendered} />
                <!-- <h2>
                  {studentGroupData.title}
                </h2>
                <Image
                  src={StudentsGroupsImages[
                    studentGroupData.initials as keyof typeof StudentsGroupsImages
                  ]}
                  alt={studentGroupData.title}
                  width={450}
                  height={450}
                />
              </div> -->
                <!-- <p>
                {studentGroupData.description}
              </p> -->
              </div>
              <!-- <div class="theory">
              {
                studentGroupData.mission && (
                  <div class="theory-box">
                    <h4>Misión</h4>
                    <p>{studentGroupData.mission}</p>
                  </div>
                )
              }
              {
                studentGroupData.vision && (
                  <div class="theory-box">
                    <h4>Visión</h4>
                    <p>{studentGroupData.vision}</p>
                  </div>
                )
              }
            </div> -->
              <!-- <div class="blog-img-and-content">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <img src="assets/images/blog/details/img-1.jpg" alt="Image" />
                </div>
                <div class="col-lg-6 col-md-6">
                  <img src="assets/images/blog/details/img-2.jpg" alt="Image" />
                </div>
              </div>
              <p>
                Fusce auctor odio et mauris congue, nec convallis urna bibendum.
                Duis sed tortor facilisis, tincidunt libero at, auctor velit.
                Vivamus gravida ultrices ex nec volutpat.
              </p>
            </div> -->

              <!-- {
              studentGroupData.formLink && (
                <div class="text-center pb-4">
                  <a
                    target="_blank"
                    rel="noopener"
                    href={studentGroupData.formLink}
                    class="default-btn-one"
                  >
                    <i class="flaticon-bookmark" />
                    {INSCRIPTION_LABEL}
                  </a>
                </div>
              )
            } -->

              <!-- <SocialMediaList
              facebook={studentGroupData.socialMedia?.[SocialMediaEnum.FACEBOOK]
                ?.link}
              twitter={studentGroupData.socialMedia?.[SocialMediaEnum.TWITTER]
                ?.link}
              instagram={studentGroupData.socialMedia?.[
                SocialMediaEnum.INSTAGRAM
              ]?.link}
              linkedin={studentGroupData.socialMedia?.[SocialMediaEnum.LINKEDIN]
                ?.link}
            /> -->
            </div>
          </div>
          <!-- <AsideNav activities={studentGroupPosts} /> -->
        </div>
      </div>
    </div>
  </div>
</Layout>
