---
import type { Activity } from '@data/_types/types';

import { Image } from 'astro:assets';
import { Routes } from '@data/_centralized/routes.data';
import { truncateText } from '@utils/text.utils';

interface Props {
	activity: Activity;
}

const { activity } = Astro.props;
---

<div class="related-post-box">
  <div class="related-post-content">
    <a
      href={`${Routes.GRUPOS_ESTUDIANTILES_CALENDARIO_ACTIVIDADES}/${activity.id}`}
    >
      {
        activity.image && (
          <Image
            src={activity.image}
            alt={activity.title}
            width={300}
            height={300}
          />
        )
      }
    </a>
    <h4>
      <a
        href={`${Routes.GRUPOS_ESTUDIANTILES_CALENDARIO_ACTIVIDADES}/${activity.id}`}
        set:html={activity.title}
      />
    </h4>
    <p class="mb-2" set:html={truncateText(activity.description, 200)} />
    <p class="text-muted small">
      <i class="fas fa-calendar me-2"></i>
      {activity.date}
    </p>
  </div>
</div>
